<div class="dummy-app">
<ProgressCard @title="Growth Value" @percentage="5" @userName="John Dec" @color="#c823ee" @subTitle="3 key results"></ProgressCard>

<ProgressCard @title="Sass Industry - 2040"  @percentage="100" @type="medium" @color="#c823ee" @userName="John Dec" ></ProgressCard>
<ProgressCard  @title="IT sector" @subTitle="3 key results" @color="#c823ee" @percentage="33" @type="relaxed" @userName="Alex volta" @userUrl="https://cdn.iconscout.com/icon/free/png-256/free-laptop-user-1-1179329.png"></ProgressCard>
</div>
{{outlet}}